.carousel-item img {
    filter: brightness(30%);
    min-height: 470px;
}

.bg-color-primary {
    background-color: #289BDE;
}

.text-color-primary {
    color: #289BDE;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #289BDE;
}