.carousel-item img {
    filter: brightness(30%);
}

.bg-color-primary {
    background-color: #289BDE;
}

.text-color-primary {
    color: #289BDE;
}

.working-title {
    font-size: 3vw;
}

.student-title {
    font-size: 3vw;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #289BDE;
}