.top-carousel img {
    filter: brightness(30%);
    min-height: 480px;
}

.bg-color-primary {
    background-color: #289BDE;
}

.text-color-primary {
    color: #289BDE;
}

.icon-color {
    background-color: #289BDE;
}

.course img {
    min-width: 250px;
}